<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" >
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.typekit.net/bkv3pbl.css">
    <link rel="stylesheet" href="/static/css/blog.css">
    <title>Document</title>
</head>
<body>
<!--navigation bar-->
    
    <nav>
        <div class="logo">One Source Climate</div>
        <input type="checkbox" id="click">
        <label for="click" class="menu-btn">
          <i class="fa fa-bars"></i>
        </label>
        <ul>
            <li><a class="active" href="/request-estimate">Request Estimate</a></li>
            <li><a href="/">Home</a></li>
            <li><a href="/service">Services</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
    </nav>

<!--navigation bar-->

    <div class="top-bg">
        <h1>Blog</h1>
    </div>

    <div class="ythac-layout">
        <div class="text-card-content">
            <h1>Your Trusted Heating and Coling</h1>
            <p class="text-01">We are licensed and insured with over years of experience in providing Atlanta and Metro Atlanta with top-rated USA air conditioning services.</p>
            <p class="text-02">Why Choose One Source Climate for Your Air Conditioning Needs?</p>
            <p class="text-03"><span class="highligted-text">Local Focus:</span>  Our team understands the unique climate, offering tailored solutions for your comfort.</p>
            <p class="text-04"><span class="highligted-text">Customer-Centric:</span> Your satisfaction is our top priority, with transparent pricing and exceptional service.</p>
            <span class="highligted-text-02">Choose One Source Climate for superior air conditioning service.</span> 
            <a href="/request-estimate"> <button class="contact-us-01">Contact us</button></a>
        </div>

        <div class="right-img-ythac">
            <img src="/static/IMG/blog-img/01.jpg" alt="">
        </div>

    </div>

    <div class="htkfv-layout">
        <div class="htkfv-card-01">
            <h1 class="htkfv-title">Step-by-step on how to keep your A/C air filter clean</h1>
            <a href="/filter-maintenance"><button class="htkfv-btn-01">Learn More</button></a>
        </div>

        <div class="htkfv-card-02">
            <h1 class="htkfv-title">Step-by-step on how to identify a problem</h1>
            <a href="/identify-issue"><button class="htkfv-btn-01">Learn More</button></a>
        </div>
    </div>

    

    




    <footer class="footer">
        <div class="container-03">
            <div class="row">
                <div class="footer-col">
                    <h4>One Source Climate</h4>
                    <ul>
                        <li><a href="/index">Home</a></li>
                        <li><a href="/service">Services</a></li>
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/request-estimate">Request Estimate</a></li>
                    </ul>
                </div>
    
    
                <div class="footer-col">
                    <h4>follow US</h4>
                    <div class="social-links">
                    <ul>
                        <a href="#" class="facebook"><img src="/static/IMG/social-media-icons/facebook.png" alt=""></a>
                        <a href="#" class="twitter"><img src="/static/IMG/social-media-icons/twitter.png" alt=""></a>
                        <a href="#" class="instagram"><img src="/static/IMG/social-media-icons/instagram.png" alt=""></a>
                        <a href="#" class="linkedin"><img src="/static/IMG/social-media-icons/linkedin.png" alt=""></a>
                        <a href="#" class="brazil-flag"><img src="/static/IMG/social-media-icons/brazil-.png" alt=""></a>
                    </div>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="/static/js/index.js"></script>
</body>
</html>
<!-- Fist BOTTOM PAGE COLUNA-->
</body>
</html>