<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.typekit.net/bkv3pbl.css">
    <link rel="stylesheet" href="/static/css/identify-issue.css">
    <title>Document</title>
</head>
<body>

    <div class="div-01">
        <h1 class="div-01-title-01">Here's step-by-step on how to identify issues with your A/C</h1>
    </div>

    <div class="steps-layout">


        <div class="steps-layout">
            <div class="step-01">
                <img src="/static/IMG/steps-icons/step1.png" alt="">
                <div class="text-content">
                    <h1>Observe and Listen</h1>
                    <p>Pay attention to the performance of your HVAC system. Listen for any unusual sounds or observe any irregular behavior. These can be early indicators of problems.</p>
                </div>
            </div>
    
            <div class="step-02">
                <img src="/static/IMG/steps-icons/step2.png" alt="">
                <div class="text-content-02">
                    <h1>Check the Thermostat</h1>
                    <p>Verify that the thermostat is set to your desired temperature and mode (heating or cooling). Ensure the display is functioning correctly and is powered on.</span>

                </div>
            </div>

            <div class="step-03">
                <img src="/static/IMG/steps-icons/step3.png" alt="">
                <div class="text-content">
                    <h1>Inspect Airflow</h1>
                    <p>Check the airflow from the vents. Is it weak or non-existent? Weak airflow could be due to a clogged filter, blocked ducts, or a fan issue.</p>
                </div>
            </div>

            <div class="step-04">
                <img src="/static/IMG/steps-icons/step4.png" alt="">
                <div class="text-content-02">
                    <h1>Monitor Temperature</h1>
                    <p>If your HVAC system is running but not reaching the desired temperature, there may be a problem with the heating or cooling elements. Check for temperature imbalances in different areas of your home.</p>
                </div>
            </div>

            <div class="step-05">
                <img src="/static/IMG/steps-icons/step5.png" alt="">
                <div class="text-content">
                    <h1>Listen for Unusual Noises</h1>
                    <p>Pay attention to any unusual sounds coming from the HVAC system. Common noises include squealing, grinding, hissing, or banging. Each noise may indicate a different issue.</p>
                </div>
            </div>

            <div class="step-06">
                <img src="/static/IMG/steps-icons/step6.png" alt="">
                <div class="text-content-02">
                    <h1>Look for Leaks or Moisture</h1>
                    <p>Check for any leaks or moisture around the HVAC unit, as this could indicate a refrigerant leak or a condensate drainage problem.</p>
                </div>
            </div>

            <div class="step-07">
                <img src="/static/IMG/steps-icons/step7.png" alt="">
                <div class="text-content">
                    <h1> Inspect the Air Filter</h1>
                    <p>Examine the air filter for dust and dirt buildup. A clogged or dirty filter can lead to decreased system efficiency.</p>
                </div>
            </div>

            <div class="step-08">
                <img src="/static/IMG/steps-icons/step8.png" alt="">
                <div class="text-content-02">
                    <h1>Check the Circuit Breaker</h1>
                    <p>Ensure that the circuit breaker for the HVAC system is not tripped. If it has tripped, resetting it may resolve the problem. However, if it continues to trip, it's a sign of an electrical issue.</p>
                </div>
            </div>

            <div class="step-09">
                <img src="/static/IMG/steps-icons/step9.png" alt="">
                <div class="text-content">
                    <h1>Examine the Evaporator and Condenser Coils</h1>
                    <p>If you're comfortable doing so, inspect the evaporator and condenser coils for dirt, debris, or ice buildup. These issues can hinder efficiency.</p>
                </div>
            </div>

            <div class="step-10">
                <img src="/static/IMG/steps-icons/step10.png" alt="">
                <div class="text-content-02">
                    <h1>Schedule Professional Maintenance</h1>
                    <p>If you're unable to identify the problem or you suspect a more complex issue, it's advisable to contact a professional HVAC technician. Regular maintenance by a qualified technician can help detect and prevent problems.</p>
                </div>
            </div>

            <a class="go-btn" href="/">Go Home</a>
        </div>
    </div>



</body>