<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" >
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.typekit.net/bkv3pbl.css">
    <link rel="stylesheet" href="/index.css">
    <title>Document</title>
</head>
<body>
<!--navigation bar-->
    
    <nav>
        <div class="logo">One Source Climate</div>
        <input type="checkbox" id="click">
        <label for="click" class="menu-btn">
          <i class="fa fa-bars"></i>
        </label>
        <ul>
          <li><a class="active" href="/request-estimate">Request Estimate</a></li>
          <li><a href="/">Home</a></li>
          <li><a href="/service">Services</a></li>
          <li><a href="/blog">Blog</a></li>
        </ul>
    </nav>

<!--navigation bar-->

    <div class="top-bg">
        <h1>One Source Climate Services, working for you!</h1>
        <p>Consistently providing cost-effective, quaranteed work for all heating and cooling needs at your home or bussiness</p>
    </div>

    <div class="div-01-layout">
        <div class="div-01-body">
            <div class="card card-01">
                <div class="card-img-01"></div>

                <h1>Top ten signs the air quality in your home could be better</h1>
                <p>When it comes to our health and well-being we tend to focus on diet, exercise and whether we get enough sleep. But there is something we don’t often consider that is just as crucial as all these factors - the quality of the air we breathe inside our home.</p>
                <a href="">Read more</a>
            </div>

            <div class="card card-02">
                <div class="card-img-02"></div>

                <h1>The unseen threat within your household</h1>
                <p>Ensuring the safety of your home is crucial for the well-being and health of all your family members.</p>
                <a href="">Read more</a>
            </div>

            <div class="card card-03">
                <div class="card-img"></div>

                <h1>Remember the importance of filters: the cornerstone of an energy-efficient home.</h1>
                <p>Filters: Your Home's Silent Heroes, Making Energy Efficiency a Reality!</p>
                <a href="">Read more</a>
            </div>
        </div>
    </div>

    <div class="div-02-layout-flex">
        <div class="div-02-layout"></div>
        <div class="loc-div">
            <p>One Source Climate</p>
            <h1>Locally Owned Company</h1>
            <p>Our certified technicians possess the expertise, experience, and licenses required to proficiently handle the installation, maintenance, and repair of both commercial and residential heating, ventilation, and air conditioning systems, as well as to conduct chimney or ventilation shaft cleaning and inspections. Our skilled team consistently delivers top-quality service, whether it involves standard HVAC tasks or addressing the unique challenges presented by structures such as brownstones, prewar buildings, and other hard-to-heat or -cool buildings.</p>
        </div>
    </div>

    <div class="mc-div-layout">
        <h1 class="mc-title">Why is Regular Air Conditioner Maintenance so Important?</h1>
        <div class="border"></div>


        <div class="mc-div-body">
            <div class="circle-card card-04">

                <div class="circle-card-img"></div>

                <h1 class="under-icon-text">
                    Prevent<br>Breakdowns
                </h1>

            </div>

            <div class="circle-card card-05">

                <div class="circle-card-img"></div>

                <h1 class="under-icon-text">
                    Reduce<br>Strain on the<br>System
                </h1>

            </div>

            <div class="circle-card card-06">

                <div class="circle-card-img"></div>

                <h1 class="under-icon-text">
                    Improve<br>Energy<br>Efficiency
                </h1>

            </div>

            <div class="circle-card card-07">

                <div class="circle-card-img"></div>

                <h1 class="under-icon-text">
                    Confortable,<br>Healthy Home
                </h1>

            </div>
        </div>
    </div>

    <div class="blog-info-layout">

        <div class="blog-more">
            <h1 class="title-01">When Should I Call For AC Repairs A Replacement?</h1>

            <p class="body-text-01"> You're getting warm air instead of cold </p>
            <p class="body-text-01"> Airflow Reduced </p>
            <p class="body-text-01"> The AC is kicking in too often </p>
            <p class="body-text-01"> Your home is more humid than usual </p>
            <p class="body-text-01"> You notice a strange smell </p>
            <p class="body-text-01"> It's making strange noises </p>
            <p class="body-text-01"> Water is leaking</p>
            
            <div class="cob-body">
                <h1 class="title-02">Check out our Blog where you can find more information</h1>
                <a href="/blog"><button class="blogbtn">Go to Blog</button></a>
            </div>
        </div>


        <div class="request-service-layout">
            <h1 class="title-03">Choose professional HVAC installation for peace of mind and efficiency.</h1>
            <h1 class="title-04">Our experts ensure safety, energy savings, and customized solutions. Contact us today for a reliable, worry-free experience.</h1>

            <div class="icons-div">

                <div class="qeac-layout">
                    <img src="/static/IMG/medal.png" alt="">
                    <h1 class="title-05">Quick & easy and convenient</h1>
                </div>
    
                <div class="tp-layout">
                    <img src="/static/IMG/trust.png" alt="">
                    <h1 class="title-05">Trustworthy professionals</h1>
                </div>
    
                <div class="gw-layout">
                    <img src="/static/IMG/satisfaction.png" alt="">
                    <h1 class="title-05">Guaranteed work</h1>
                </div>
    
            </div>

            <a href="/request-estimate"><button class="request-service-btn">Request Service</button></a>
        </div>

        <div class="shtiace-layout">
            <h1 class="title-06">Simple hack to improve A/C efficiency</h1>
            <p class="body-text-02"> A dirty or clogged filter restricts airflow, making your A/C work harder and less efficiently. By maintaining a clean filter, you can enhance cooling performance and reduce energy consumption.</p>
        </div>




    </div>


    <div class="div-03-layout">

        <div class="div-03-text-content-01">

            <h2 class="title-01-div-03">Air Duct Cleaning: A Vital Step for Health and Efficiency</h2>
            <h1 class="title-02-div-03">Why Clean Your Air Ducts?</h1>

            <p class="div-03-description-01">The air conditioner's role in purifying the air extends beyond comfort. Over time, its ducts accumulate impurities, bacteria, and mites, turning them into carriers of potential health risks.</p>


            <h1 class="title-02-div-03">Health Concerns:</h1>

            <p class="div-03-description-01">The stored dirt within the ducts circulates with the air, becoming a source of respiratory issues. Individuals with allergies, asthma, bronchitis, sinusitis, or rhinitis are particularly susceptible, as the contaminated air affects their well-being.</p>
        </div>

        <img src="/static/IMG/air-duct.jpg" alt="A/D" class="div-03-img">

    </div>

    <div class="div-04-layout">

        <img src="/static/IMG/performance-meter.jpg" alt="A/D" class="div-04-img">

        <div class="div-04-text-content-01">

            <h1 class="title-02-div-03">Performance Impact:</h1>

            <p class="div-03-description-01">Neglecting duct maintenance not only jeopardizes health but also compromises the air conditioner's efficiency. Expect difficulties in cooling, compromised components, and increased energy consumption over time.</p>


            <h1 class="title-02-div-03">Investing:</h1>

            <p class="div-03-description-01">Regular air duct cleaning is a crucial investment, ensuring a healthier living or working environment and maintaining optimal performance from your cooling system.</p>
        </div>



    </div>









    <footer class="footer">
        <div class="container-03">
            <div class="row">
                <div class="footer-col">
                    <h4>One Source Climate</h4>
                    <ul>
                        <li><a href="/index">Home</a></li>
                        <li><a href="/service">Services</a></li>
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/request-estimate">Request Estimate</a></li>
                    </ul>
                </div>
    
    
                <div class="footer-col">
                    <h4>follow US</h4>
                    <div class="social-links">
                    <ul>
                        <a href="#" class="facebook"><img src="/static/IMG/social-media-icons/facebook.png" alt=""></a>
                        <a href="#" class="twitter"><img src="/static/IMG/social-media-icons/twitter.png" alt=""></a>
                        <a href="#" class="instagram"><img src="/static/IMG/social-media-icons/instagram.png" alt=""></a>
                        <a href="#" class="linkedin"><img src="/static/IMG/social-media-icons/linkedin.png" alt=""></a>
                        <a href="#" class="brazil-flag"><img src="/static/IMG/social-media-icons/brazil-.png" alt=""></a>
                    </div>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="/static/js/index.js"></script>
</body>
</html>
<!-- Fist BOTTOM PAGE COLUNA-->
</body>
</html>