<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" >
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.typekit.net/bkv3pbl.css">
    <link rel="stylesheet" href="/static/css/request-estimate.css">
    <title>Document</title>
</head>
<body>
<!--navigation bar-->
    
    <nav>
        <div class="logo">One Source Climate</div>
        <input type="checkbox" id="click">
        <label for="click" class="menu-btn">
          <i class="fa fa-bars"></i>
        </label>
        <ul>
            <li><a class="active" href="/request-estimate">Request Estimate</a></li>
            <li><a href="/">Home</a></li>
            <li><a href="/service">Services</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
    </nav>

<!--navigation bar-->

    <div class="contact-us-layout">
        <img class="seal-icon" src="/static/IMG/request-estimate-img/badge.png" alt="">
        
        <div class="divider"></div>

        <div class="contact-us-body">
            <h1 class="contact-us-title" >CONTACT US</h1>
            <p class="slogan-01">Call Us Today for Your HVAC Needs – Your Comfort, Our Priority!</p>

            <div class="call-div">
                <img src="/static/IMG/request-estimate-img/call.png" alt="" class="call-icon">
                <h1>(470) 469-7324</h1>
            </div>

            <div class="call-div">
                <img src="/static/IMG/request-estimate-img/address.png" alt="" class="call-icon">
                <h1>onesourceclimate@gmail.com</h1>
            </div>

            <div class="call-div">
                <img src="/static/IMG/request-estimate-img/address (1).png" alt="" class="call-icon">
                <h1>4294 FOX WOOD CT Marietta 30062</h1>
            </div>
        </div>
    </div>



    

    




    <footer class="footer">
        <div class="container-03">
            <div class="row">
                <div class="footer-col">
                    <h4>One Source Climate</h4>
                    <ul>
                        <li><a href="/index">Home</a></li>
                        <li><a href="/service">Services</a></li>
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/request-estimate">Request Estimate</a></li>
                    </ul>
                </div>
    
    
                <div class="footer-col">
                    <h4>follow US</h4>
                    <div class="social-links">
                    <ul>
                        <a href="#" class="facebook"><img src="/static/IMG/social-media-icons/facebook.png" alt=""></a>
                        <a href="#" class="twitter"><img src="/static/IMG/social-media-icons/twitter.png" alt=""></a>
                        <a href="#" class="instagram"><img src="/static/IMG/social-media-icons/instagram.png" alt=""></a>
                        <a href="#" class="linkedin"><img src="/static/IMG/social-media-icons/linkedin.png" alt=""></a>
                        <a href="#" class="usa-flag"><img src="/static/IMG/social-media-icons/united-states-of-america.png" alt=""></a>
                    </div>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="/static/js/index.js"></script>
</body>
</html>
<!-- Fist BOTTOM PAGE COLUNA-->
</body>
</html>