<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" >
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.typekit.net/bkv3pbl.css">
    <link rel="stylesheet" href="/static/css/service.css">
    <title>Document</title>
</head>
<body>
<!--navigation bar-->
    
<nav>
    <div class="logo">One Source Climate</div>
    <input type="checkbox" id="click">
    <label for="click" class="menu-btn">
      <i class="fa fa-bars"></i>
    </label>
    <ul>
        <li><a class="active" href="/request-estimate">Request Estimate</a></li>
        <li><a href="/">Home</a></li>
        <li><a href="/service">Services</a></li>
        <li><a href="/blog">Blog</a></li>
    </ul>
</nav>

<!--navigation bar-->

    <div class="top-bg">
        <h1>Our Services</h1>
    </div>

    <div class="specialities-layout">
        <div class="card01 card-04">
            <div class="card01-img"> <img src="static/IMG/services-img/installation.png" alt=""></div>

            <h1>Installation</h1>
            <p>This involves setting up a new HVAC system, whether it's a furnace, air conditioner, heat pump, or any combination of these components. Proper installation is crucial for efficiency and longevity.</p>
        </div>

        <div class="card01 card-05">
            <div class="card01-img"> <img src="static/IMG/services-img/residential.png" alt=""></div>

            <h1>Repair and Maintenance</h1>
            <p>Regular maintenance and repair services are essential to keep your HVAC system running efficiently. This includes cleaning, inspections, and fixing any issues that may arise.</p>
        </div>

        <div class="card01 card-06">
            <div class="card01-img"> <img src="static/IMG/services-img/ductwork.png" alt=""></div>

            <h1>Ductwork Services</h1>
            <p>Ensuring that the ducts are clean and properly sealed is vital for efficient air distribution. Duct cleaning, repair, and sealing are common services.</p>
        </div>

        <div class="card01 card-07">
            <div class="card01-img"> <img src="static/IMG/services-img/heat.png" alt=""></div>

            <h1>Heating Services</h1>
            <p>Maintenance, repair, and installation of heating systems, such as furnaces, boilers, or heat pumps, are part of HVAC services. This also includes radiator and baseboard heating.</p>
        </div>

        <div class="card01 card-04">
            <div class="card01-img"> <img src="static/IMG/services-img/cool.png" alt=""></div>

            <h1>Cooling </h1>
            <p>Similar to heating services, this includes maintenance, repair, and installation of air conditioning systems like central A/C units, ductless mini-splits, and window units.</p>
        </div>





        <div class="card01 card-04">
            <div class="card01-img"> <img src="static/IMG/services-img/ventilation.png" alt=""></div>

            <h1>Ventilation Services</h1>
            <p>Proper ventilation is crucial for indoor air quality. Services may include the installation and maintenance of exhaust fans, whole-house ventilation systems, and more.</p>
        </div>

        <div class="card01 card-05">
            <div class="card01-img"> <img src="static/IMG/services-img/air-quality.png" alt=""></div>

            <h1>Indoor Air Quality (IAQ) Services</h1>
            <p>These services focus on improving the quality of the air inside your home, including air purification, humidity control, and filtration systems.</p>
        </div>

        <div class="card01 card-06">
            <div class="card01-img"> <img src="static/IMG/services-img/thermostat.png" alt=""></div>

            <h1>Thermostat Installation and Programming</h1>
            <p>Upgrading to a smart thermostat or ensuring your existing thermostat is functioning correctly can significantly improve energy efficiency.</p>
        </div>

        <div class="card01 card-07">
            <div class="card01-img"> <img src="static/IMG/services-img/efficiency.png" alt=""></div>

            <h1>Energy Efficiency Upgrades</h1>
            <p>HVAC professionals can help make your system more energy-efficient by recommending and installing energy-saving upgrades like better insulation, zoning systems, and more.</p>
        </div>

        <div class="card01 card-04">
            <div class="card01-img"> <img src="static/IMG/services-img/urban.png" alt=""></div>

            <h1>Zoning Services</h1>
            <p>Zoning systems allow you to control the temperature in different areas of your home independently. HVAC technicians can install and maintain these systems.</p>
        </div>







        <div class="card01 card-04">
            <div class="card01-img"> <img src="static/IMG/services-img/ventilation.png" alt=""></div>

            <h1>Ventilation Services</h1>
            <p>Proper ventilation is crucial for indoor air quality. Services may include the installation and maintenance of exhaust fans, whole-house ventilation systems, and more.</p>
        </div>

        <div class="card01 card-05">
            <div class="card01-img"> <img src="static/IMG/services-img/air-quality.png" alt=""></div>

            <h1>Indoor Air Quality (IAQ) Services</h1>
            <p>These services focus on improving the quality of the air inside your home, including air purification, humidity control, and filtration systems.</p>
        </div>

        <div class="card01 card-06">
            <div class="card01-img"> <img src="static/IMG/services-img/thermostat.png" alt=""></div>

            <h1>Thermostat Installation and Programming</h1>
            <p>Upgrading to a smart thermostat or ensuring your existing thermostat is functioning correctly can significantly improve energy efficiency.</p>
        </div>

        <div class="card01 card-07">
            <div class="card01-img"> <img src="static/IMG/services-img/efficiency.png" alt=""></div>

            <h1>Energy Efficiency Upgrades</h1>
            <p>HVAC professionals can help make your system more energy-efficient by recommending and installing energy-saving upgrades like better insulation, zoning systems, and more.</p>
        </div>

        <div class="card01 card-04">
            <div class="card01-img"> <img src="static/IMG/services-img/urban.png" alt=""></div>

            <h1>Zoning Services</h1>
            <p>Zoning systems allow you to control the temperature in different areas of your home independently. HVAC technicians can install and maintain these systems.</p>
        </div>



        <div class="card01 card-04">
            <div class="card01-img"> <img src="static/IMG/services-img/mode.png" alt=""></div>

            <h1>Refrigerant Services</h1>
            <p>Maintaining and recharging refrigerant in air conditioning systems is crucial for their performance and longevity.</p>
        </div>

        <div class="card01 card-05">
            <div class="card01-img"> <img src="static/IMG/services-img/building.png" alt=""></div>

            <h1>Commercial HVAC Services</h1>
            <p>Businesses often have larger and more complex HVAC systems. Commercial HVAC services focus on the specific needs of commercial properties.</p>
        </div>

        <div class="card01 card-06">

            <h1>Comercial Maintenance Contract</h1>
            <p>Opting for our refrigerator maintenance commercial contract guarantees consistent and efficient performance of your refrigeration systems. Regular maintenance minimizes the likelihood of breakdowns, reducing the risk of costly repairs. By ensuring optimal functionality, you extend the lifespan of your equipment and maintain uninterrupted operational efficiency, contributing to overall cost savings for your business.</p>
        </div>

        <div class="card01 card-07">

            <h1>For Comercial Maintenance Contract:</h1>
            <p>Phone (470) 469-7324 <br>E-mail onesourceclimate@gmail.com</p>
        </div>

        <div class="card01 card-04">
            <h1>One Source Climate</h1>
        </div>


        
    </div>

    




    <footer class="footer">
        <div class="container-03">
            <div class="row">
                <div class="footer-col">
                    <h4>One Source Climate</h4>
                    <ul>
                        <li><a href="/index">Home</a></li>
                        <li><a href="/service">Services</a></li>
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/request-estimate">Request Estimate</a></li>
                    </ul>
                </div>
    
    
                <div class="footer-col">
                    <h4>follow US</h4>
                    <div class="social-links">
                    <ul>
                        <a href="#" class="facebook"><img src="/static/IMG/social-media-icons/facebook.png" alt=""></a>
                        <a href="#" class="twitter"><img src="/static/IMG/social-media-icons/twitter.png" alt=""></a>
                        <a href="#" class="instagram"><img src="/static/IMG/social-media-icons/instagram.png" alt=""></a>
                        <a href="#" class="linkedin"><img src="/static/IMG/social-media-icons/linkedin.png" alt=""></a>
                        <a href="#" class="brazil-flag"><img src="/static/IMG/social-media-icons/brazil-.png" alt=""></a>
                    </div>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="/static/js/index.js"></script>
</body>
</html>
<!-- Fist BOTTOM PAGE COLUNA-->
</body>
</html>